@model IEnumerable<SOOS_Auction.AuctionDatabase.Models.Lot>
@{ 
    ViewBag.Title = "Лоты";
}
<div style="margin-left:10px;">
    <h3>Лоты</h3>
    <ul style="list-style-type:none; margin:0 0 10px 0; padding:0 0 0 0;">
        <li>
            <a href="@Url.Action("Lots", new { lotsType = "all" })" class="btn btn-info" role="button">Все лоты</a>
            <a href="@Url.Action("Lots", new { lotsType = "pending" })" class="btn btn-info" role="button">Ожидающие подтверждения</a>
            <a href="@Url.Action("Lots", new { lotsType = "started" })" class="btn btn-info" role="button">Стартовавшие</a>
            <a href="@Url.Action("Lots", new { lotsType = "finished" })" class="btn btn-info" role="button">Завершенные</a>
            <a href="@Url.Action("Lots", new { lotsType = "rejected" })" class="btn btn-info" role="button">Отклоненные</a>
        </li>
    </ul>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Категория")
            </th>
            <th>
                @Html.DisplayName("Краткая информация")
            </th>
            <th>
                @Html.DisplayName("Состояние")
            </th>
            <th>
                @Html.DisplayName("Владелец")
            </th>
            <th>
                @Html.DisplayName("Победитель")
            </th>
            <th>
                @Html.DisplayName("Начальная цена")
            </th>
            <th>
                @Html.DisplayName("Текущая цена")
            </th>
            <th>
                @Html.DisplayName("Шаг ставки")
            </th>
            <th>
                @Html.DisplayName("Кол-во ставок")
            </th>
            <th>
                @Html.DisplayName("Дата окончания")
            </th>
            <th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                <a href="@Url.Action("ViewProfile","Account", new {userId=item.UserId})" style="color:#080E9B; font-size:15px;">@item.UserId</a>

            </td>
            <td>
                <a href="@Url.Action("ViewProfile","Account", new {userId=item.WinnerId})" style="color:#080E9B; font-size:15px;">@item.WinnerId</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimalStep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bids.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            @if (item.State == "pending")
            {
                <td>
                    @Html.ActionLink("Подробнее", "ModerLotDetails", new { id = item.LotId })
                </td>
                <td>

                    @Html.ActionLink("Принять лот", "AcceptLot", new { id = item.LotId })
                </td>
                <td>

                    @Html.ActionLink("Отклонить лот", "RejectLot", new { id = item.LotId })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Подробнее", "ModerLotDetails", new { id = item.LotId })
                </td>
            }
            @if (HttpContext.Current.User.IsInRole("admin") || item.State == "rejected")
            {
                <td>
                    @Html.ActionLink("Удалить лот", "DeleteLot", new { id = item.LotId })
                </td>
            }
        </tr>
        }

    </table>
</div>