@model SOOS_Auction.AuctionDatabase.Models.Lot

<div>
    <h4>Lot</h4>
    <hr />
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Ссылка</a></li>
                    <li><a href="#">Ссылка</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Действие</a></li>
                            <li><a href="#">Другое действие</a></li>
                            <li><a href="#">Что-то еще</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Отдельная ссылка</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Еще одна отдельная ссылка</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Отправить</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Ссылка</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Действие</a></li>
                            <li><a href="#">Другое действие</a></li>
                            <li><a href="#">Что-то еще</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Отдельная ссылка</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <hr />    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LotPayment.AdditionalInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LotPayment.AdditionalInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LotReceiving.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LotReceiving.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimalStep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimalStep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagesUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagesUrl)
        </dd>

    </dl>
</div>
@if (Model.State == "pending")
{
<p>
    @Html.ActionLink("Принять", "AcceptLot", new { id = Model.LotId }) |
    @Html.ActionLink("Отклонить", "RejectLot", new { id = Model.LotId })
</p>
}
