@model SOOS_Auction.Models.UserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>
        @foreach (var role in Model.Roles)
        {
            <dt>
                Роль:
            </dt>

            <dd>
                @role
            </dd>
        }

    </dl>
</div>
@if (User.IsInRole("admin"))
{
<p>
    @Html.ActionLink("Вернуться к списку", "Users") |
    @Html.ActionLink("Изменить", "UserEdit", new { mail = Model.Email}) |
    @Html.ActionLink("Удалить", "UserDelete",  new { mail = Model.Email})
</p>
}
else
{
<p>
    @Html.ActionLink("Вернуться к списку", "Index") |
</p>
}
